body {
    background-color: rgb(248, 200, 200);
}
#imogi {
width: 20px;
height: 20px;

}
#fheading {
    text-align: center;
    color: green;
}
#sheading {
    text-align: center;
    color: blue;

}
#theading {
    text-align: center;
    color: blue;
}

#photo {
    width: 200px;
    height: 200px;
    margin-left: 250px;
    border-radius: 50%;
    border: white 2px solid;
    
}
.div1 {
    background-color: white;
    margin: 10px 300px;
    padding: 10px 100px;
    box-shadow: 5px 10px 8px rgb(20, 107, 219);
    border-radius: 10%;

}
.p {
  margin-left: 50px;

}
.p1 {
    text-align: center;
}

.div2 {
    background-color: white;
    margin: 10px 300px;
     padding: 10px 100px;
     box-shadow: 5px 10px 8px rgb(20, 107, 219);
}
.div3 {
    background-color: white;
    margin: 10px 300px;
    padding: 10px 100px;
 box-shadow: 5px 10px 8px rgb(20, 107, 219);
 border-radius: 10%;
}
.list {
   margin-left: 50px;
}
